body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(110, 109, 109);
}

.logo {
    margin: 10px 10px 10px 50px;
}

.logo:hover {
    opacity: 0.5;
    transform: scale(1.2);
}

.logo:active {
    opacity: 1;
    transform: scale(1);
}

.cart {
    margin: 10px 50px 10px 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.searh-cart {
    margin: 10px;
    padding-left: 15px;
    background: transparent;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
    height: 35px;
}

.btn-search {
    margin: 10px;
    border: none;
    background-color: rgb(110, 109, 109);;
    width: 34px;
    height: 34px;
    outline: none;
    position: absolute;
    top: 7px;
    right: 96px;
}

input:focus {
    border-color: #F9F0DA
  }

.btn-cart {
    background-color: black;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
    color: white;
    height: 40px;
    margin: 10px;
}

.btn-cart:hover {
    background: transparent;
    color: white;
    border: 2px solid black;
}

.btn-cart:active {
    background-color: white;
    color: black;
    border: 2px solid black;
}

main {
    margin: 50px auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    margin: 10px;
    width: 300px;
    text-align: center;
}

.buy-btn {
    background-color: black;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
    color: white;
    height: 40px;
    margin: 10px;
}

.buy-btn:hover {
    background: transparent;
    color: black;
    border: 2px solid black;
}

.buy-btn:active {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.cart-block {
    width: 200px;
    min-height: 30px;
    background-color: #ccc;
    border: 2px solid #ccc;
    border-radius: 7px;
    position: absolute;
    top: 65px;
    right: 15px;
}

.invisible {
    display: none;
}